@import url("https://fonts.googleapis.com/css?family=Dancing+Script|Poiret+One|Fredoka+One|Poppins|Raleway&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient(to bottom, #0c0b0bf3, #0c0b0bee), url("../img/rsz_background_desktop-computer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.navbar-desktop {
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  width: 100%;
  position: fixed;
  top: 0;
}

.navbar-desktop > .nav-wrapper {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar-desktop .nav__link {
  color: #ffffff;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}
header > section {
  height: 85%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding-top: 2em;
}

.header__description {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: #ffffff;
}
.header__description p {
  line-height: 4em;
}
.header__description p > span {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 1.6em;
}
.header__description strong {
  font-family: "Fredoka One", Arial, Helvetica, sans-serif;
  font-size: 2em;
}

.header__description--start > p > a {
  color: #ffffff;
}

.header__profil > img {
  width: 75%;
  height: 100%;
}

.header__contact i {
  display: inline-block;
  margin: 0 10px;
  font-size: 1.5em;
  color: #a09b9b86;
}
.header__contact i:hover {
  color: #ffffff;
}

.introduction {
  width: 95%;
  height: 90vh;
  margin: 10vh auto 0;
  color: #ffffff;
}
.introduction > div {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.introduction__title {
  text-align: center;
  font-family: "Poiret One", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.7em;
  text-decoration: underline;
}

.introduction__content {
  padding: 1em;
  border: 1px solid #ffffff;
}
.introduction__content strong {
  color: #38EF7D;
}
.introduction__content p:first-child::first-letter {
  font-size: 3.5em;
  float: left;
  font-family: "Dancing Script";
}

.introduction__link {
  display: flex;
  justify-content: space-between;
}
.introduction__link > a {
  color: #a09b9b86;
  font-size: 1.2em;
  text-decoration: none;
}
.introduction__link > a:hover {
  color: #ffffff;
}

/* Responsive des grands ecran ... */
@media all and (min-width: 1920px) {
  .header__profil {
    width: 40%;
  }
}
@media screen and (min-width: 1440px) {
  .header__profil {
    width: 40%;
  }

  .nav__link {
    font-size: 1.5em;
  }
}

/*# sourceMappingURL=style.css.map */
